.document-item {
  position: relative;
  border-left: 4px solid transparent;
  border-radius: 4px;
  padding: 8px 17px 8px 10px;
  background-color: #E7E7E7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50px;

  &__content {
    padding-right: 40px;
  }

  &__description {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;

    &_link {
      color: #2F80ED;
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  &__file {
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
  }

  &__add,
  &__close {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }

  &__add {
    opacity: 1;
    visibility: visible;

    &-label {
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
      background-image: url(/static/images/icons/add.svg);
      cursor: pointer;
    }

    &-file {
      display: none;
    }
  }

  &__close {
    background-image: url(/static/images/icons/close.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &_success {
    border-color: #27AE60;

    .document-item__close {
      opacity: 1;
      visibility: visible;
    }

    .document-item__add {
      opacity: 0;
      visibility: hidden;
    }
  }
}