.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  &_show {
    opacity: 1;
    visibility: visible;
  }


  &__overlay {
    background-color: rgba(0,0,0,.25);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.warning-popup {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translateX(-50%);
  width: calc(100% - 16px * 2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 8px;
  @media screen and (min-width: $screen-s) {
    width: 440px;
  }
  &__title {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    display: block;
  }

  &__text {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
  }

  &__actions {
    margin-top: 22px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 160px;
    text-align: center;
    font-size: 12px;
  }
}

.questionnaire-popup {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translateX(-50%);
  width: calc(100% - 16px * 2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 8px;
  @media screen and (min-width: $screen-s) {
    width: 440px;
  }
  &__title {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    display: block;
  }

  &__text {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
  }

  &__actions {
    margin-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}