.submit-errors {
  border-radius: 4px;
  box-shadow: var(--default-box-shadow);
  padding: 16px 8px;
  background-color: rgba(235,32,41, .7);
  color: #fff;
  &__list {
    list-style-type: disc;
    padding-left: 15px;
  }

  &__item {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
}