{% extends "layouts/announcement_email_template.html" %}
{% block title %}Сброс пароля |{% endblock  %}
{% block content %}
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
  }
  .container {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
  }
  .button {
      background-color: #007BFF;
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      text-decoration: none;
  }
</style>
<div class="container">
  <h2>Здравствуйте!</h2>
  <p>Мы получили запрос на сброс вашего пароля. Если вы этого не делали, проигнорируйте это письмо.</p>
  <p>Для сброса пароля, пожалуйста, перейдите по следующей ссылке:</p>
  <a href="{{ reset_link }}" class="button">Сбросить пароль</a>
  <p>Токен для сброса: {{ token }}</p>
</div>

{% endblock  %}